ol{
    list-style: none;
    counter-reset: contador;
}

ol li{
    counter-increment: contador;
}

ol li::before{
    content: "Curso " counter(contador) ") ";
    color:rgb(160, 93, 168)

}

ol li::after{
    content: ".";
}
