h1{
    color:rgb(201, 170, 204);
}

ul{
    list-style-type: none;
    background-color: rgb(195, 195, 219);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(167, 55, 148);
}
