h1{
   color: #f07167;
}

a:link{
    color: #5bdaeb;
    text-decoration: none;
}

a:visited{
    color: #219ebc;
    text-decoration: none;
}

/*Para cuando nos ponemos encima del link*/

a:hover{
    color: #9a5b9c;
    text-decoration: underline;
}

a:active {
    color: #1ee228;
}